@media (max-width: 850px) {
  .contact {
    width: 90% !important;
  }
  .contactItem {
    flex-direction: column !important;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
  }

  .contactName {
    min-width: 1px;
  }

  .contactName {
    min-width: 0px !important;
    margin: 0px !important;
  }
}

.contactItem {
  margin-bottom: 30px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  color: black;
}

.contact {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 30%;
  margin: 30px auto;
}

.contactIcon {
  max-width: 30px;
  padding: 3px;
}
.contactName {
  min-width: 100px;
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: 5px;
}

.contactDescription {
  margin-left: 3px;
  display: flex;
  align-items: center;
  align-content: center;
}
