.smartTag {
  margin: 3px 9px;
  display: flex;
  padding: 6px;
  border: 0 solid #e5e7eb;
  background-color: #94a3b8;
  border-radius: 3px;
}

.smartTag.smartTagAtiva {
  background-color: #e2e8f0;
  color: black;
}
